Repository bytelab-studio/schemify: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Primitive, Complex

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: module_core
      name: Core
      paths:
        - src/core/
    - component_id: module_primitive
      name: Primitive
      paths:
        - src/primitive/
    - component_id: module_complex
      name: Complex
      paths:
        - src/complex/

Implement symbol primitive
  Validators.md
  src/primitive/index.ts
  src/primitive/symbol.ts
  test/cases.test.ts
Due: Primitive

Implement RegExp
  Validators.md
  src/primitive/index.ts
  src/primitive/object.ts
  src/primitive/regex.ts
  test/cases.test.ts
Due: Primitive

Implement RegExp primitive
  Validators.md
  src/primitive/index.ts
  src/primitive/regexp.ts
  test/cases.test.ts
Due: Primitive

Implement bigint
  Validators.md
  src/primitive/bigint.ts
  src/primitive/index.ts
  test/cases.test.ts
  test/primitive/bigint.test.ts
Due: Primitive

Implement pattern validator
  src/complex/index.ts
  src/complex/pattern.ts
  src/primitive/string.ts
  test/cases.test.ts
  test/complex/pattern.test.ts
  test/utils.ts
Due: Primitive, Complex

Mark function as validator
  src/complex/pattern.ts
  src/primitive/bigint.ts
Due: Primitive, Complex

Implement record
  Validators.md
  src/complex/index.ts
  src/complex/record.ts
  src/core/types.ts
  src/primitive/object.ts
  test/cases.test.ts
  test/utils.ts
Due: Core, Primitive, Complex

Implement unknown validator
  Validators.md
  src/primitive/index.ts
  src/primitive/unknown.ts
  test/cases.test.ts
Due: Primitive

Implement callable validator
  Validators.md
  src/primitive/callable.ts
  src/primitive/index.ts
  test/cases.test.ts
Due: Primitive

Implement never
  Validators.md
  src/complex/list.ts
  src/complex/nested.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/core/utils.ts
  src/primitive/index.ts
  src/primitive/never.ts
  test/complex/union.test.ts
  test/nullable.test.ts
  test/optional.test.ts
  test/primitive/never.test.ts
Due: Core, Primitive, Complex

Implement instanceOf Validator
  src/complex/index.ts
  src/complex/instanceOf.ts
  test/cases.test.ts
  test/utils.ts
Due: Complex

Add docs for Schema.instanceOf
  Validators.md
Due: none

Export all Options interfaces
  src/complex/enum.ts
  src/complex/list.ts
  src/complex/literal.ts
  src/complex/nested.ts
  src/complex/pattern.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/complex/union.ts
  src/primitive/any.ts
  src/primitive/array.ts
  src/primitive/bigint.ts
  src/primitive/boolean.ts
  src/primitive/null.ts
  src/primitive/number.ts
  src/primitive/regexp.ts
  src/primitive/undefined.ts
Due: Primitive, Complex

Remove nullable and optional logic into raw function
  src/complex/enum.ts
  src/complex/instanceOf.ts
  src/complex/list.ts
  src/complex/literal.ts
  src/complex/nested.ts
  src/complex/pattern.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/complex/union.ts
  src/core/raw.ts
  src/primitive/any.ts
  src/primitive/array.ts
  src/primitive/bigint.ts
  src/primitive/boolean.ts
  src/primitive/callable.ts
  src/primitive/never.ts
  src/primitive/null.ts
  src/primitive/number.ts
  src/primitive/object.ts
  src/primitive/regexp.ts
  src/primitive/string.ts
  src/primitive/symbol.ts
  src/primitive/undefined.ts
  src/primitive/unknown.ts
Due: Core, Primitive, Complex

Implement static validator functions
  src/core/raw.ts
  src/core/types.ts
  test/cases.test.ts
  test/complex/list.test.ts
  test/complex/pattern.test.ts
  test/complex/union.test.ts
  test/core/raw.test.ts
  test/nullable.test.ts
  test/optional.test.ts
  test/primitive/array.test.ts
  test/primitive/bigint.test.ts
  test/primitive/never.test.ts
  test/primitive/number.test.ts
  test/primitive/string.test.ts
Due: Core

Add build:prod command
  package.json
Due: none

Update documentation
  README.md
  Validators.md
  docs/.vitepress/config.mts
  docs/assets/logo.png
  docs/assets/logo.svg
  docs/index.md
Due: none

Update documentation
  README.md
  docs/public/assets/logo.png
  docs/public/assets/logo.svg
Due: none

Set version to 0.0.0
  package-lock.json
  package.json
Due: none

Introduce CD Workflow
  .github/workflows/cd.yml
Due: none

Update CD
  .github/workflows/cd.yml
Due: none

Update CD
  .github/workflows/cd.yml
  package.json
Due: none

Add CapRover deployment on release
  .github/workflows/cd.yml
Due: none

Add Issue Templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/module-request.md
  .github/ISSUE_TEMPLATE/validator-option-request.md
Due: none

Update templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/module-request.md
Due: none

Close #1
  docs/modules/primitive/number.md
  src/primitive/number.ts
  test/primitive/number.test.ts
Due: Primitive

Close #9
  docs/modules/primitive/number.md
  src/primitive/number.ts
  test/primitive/number.test.ts
Due: Primitive

Add new codecov component
  codecov.yml
Due: none

Implement 'Schema.dateISO' validator
  docs/.vitepress/config.mts
  docs/modules/datetime/dateISO.md
  docs/modules/datetime/index.md
  docs/modules/index.md
  src/datetime/dateISO.ts
  src/datetime/index.ts
  src/datetime/parser.ts
  src/index.ts
  test/datetime/dateISO.test.ts
Due: none

Format imports and rename variable
  src/datetime/dateISO.ts
Due: none

Use correct option name
  test/datetime/dateISO.test.ts
Due: none

Fix documentation
  docs/modules/datetime/dateISO.md
Due: none

Implement timeISO
  docs/.vitepress/config.mts
  docs/modules/datetime/dateISO.md
  docs/modules/datetime/index.md
  docs/modules/datetime/timeISO.md
  src/datetime/index.ts
  src/datetime/timeISO.ts
  test/datetime/timeISO.test.ts
Due: none

Downgrade TypeScript target
  tsconfig.json
Due: none

Implemented datetime validator
  docs/modules/datetime/datetimeISO.md
  src/datetime/dateISO.ts
  src/datetime/datetimeISO.ts
  src/datetime/index.ts
  src/datetime/timeISO.ts
  test/datetime/datetimeISO.test.ts
Due: none

Review code
  docs/.vitepress/config.mts
  docs/modules/datetime/dateISO.md
  docs/modules/datetime/index.md
Due: none

Update Codecov config to enforce 80% total coverage
  codecov.yml
Due: none
