Repository bytelab-studio/schemify: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Primitive, Complex, Datetime

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: module_core
      name: Core
      paths:
        - src/core/
    - component_id: module_primitive
      name: Primitive
      paths:
        - src/primitive/
    - component_id: module_complex
      name: Complex
      paths:
        - src/complex/
    - component_id: module_datetime
      name: Datetime
      paths:
        - src/datetime/

Add more badges
  README.md
Due: none

Update README
  README.md
Due: none

Basic shape of the plugin system
  src/core/index.ts
  src/core/plugin.ts
  src/core/raw.ts
  src/core/types.ts
  src/primitive/never.ts
  test/core/plugin.test.ts
Due: Core, Primitive

Work on plugin system
  src/core/plugin.ts
  src/core/raw.ts
  src/primitive/never.ts
  test/core/plugin.test.ts
Due: Core, Primitive

Rename usePlugin to onPlugin
  src/core/plugin.ts
Due: Core

Work on docs
  docs/.vitepress/config.mts
  docs/modules/core/index.md
  docs/modules/core/plugin.md
  docs/plugins.md
Due: none

Work on docs
  docs/plugins.md
Due: none

Fix tests
  test/core/plugin.test.ts
Due: none

Implement unknown type
  src/complex/list.ts
  src/complex/nested.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/complex/union.ts
  src/core/plugin.ts
  src/core/raw.ts
  src/core/types.ts
  src/core/utils.ts
  test/utils.ts
Due: Core, Complex

Use UnknownType
  docs/plugins.md
Due: none

Pass constructor
  src/complex/instanceOf.ts
  src/complex/list.ts
  src/complex/literal.ts
  src/complex/nested.ts
  src/complex/oneOf.ts
  src/complex/pattern.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/complex/union.ts
  src/core/raw.ts
  src/core/types.ts
  src/datetime/dateISO.ts
  src/datetime/datetimeISO.ts
  src/datetime/timeISO.ts
  src/primitive/any.ts
  src/primitive/array.ts
  src/primitive/bigint.ts
  src/primitive/boolean.ts
  src/primitive/callable.ts
  src/primitive/never.ts
  src/primitive/nil.ts
  src/primitive/number.ts
  src/primitive/object.ts
  src/primitive/regexp.ts
  src/primitive/string.ts
  src/primitive/symbol.ts
  src/primitive/undef.ts
  src/primitive/unknown.ts
  test/core/plugin.test.ts
Due: Core, Primitive, Complex, Datetime

Add module property
  src/complex/instanceOf.ts
  src/complex/list.ts
  src/complex/literal.ts
  src/complex/nested.ts
  src/complex/oneOf.ts
  src/complex/pattern.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/complex/union.ts
  src/core/index.ts
  src/core/raw.ts
  src/core/reflection.ts
  src/core/types.ts
  src/datetime/dateISO.ts
  src/datetime/datetimeISO.ts
  src/datetime/timeISO.ts
  src/primitive/any.ts
  src/primitive/array.ts
  src/primitive/bigint.ts
  src/primitive/boolean.ts
  src/primitive/callable.ts
  src/primitive/never.ts
  src/primitive/nil.ts
  src/primitive/number.ts
  src/primitive/object.ts
  src/primitive/regexp.ts
  src/primitive/string.ts
  src/primitive/symbol.ts
  src/primitive/undef.ts
  src/primitive/unknown.ts
Due: Core, Primitive, Complex, Datetime

Fix test
  test/core/raw.test.ts
  test/core/reflection.test.ts
Due: none

Introduce reflection test
  src/core/reflection.ts
Due: Core

Implement getChildren
  src/complex/instanceOf.ts
  src/complex/list.ts
  src/complex/literal.ts
  src/complex/nested.ts
  src/complex/oneOf.ts
  src/complex/pattern.ts
  src/complex/record.ts
  src/complex/tuple.ts
  src/complex/union.ts
  src/core/reflection.ts
  src/core/types.ts
  test/complex/list.test.ts
  test/complex/literal.test.ts
  test/complex/nested.test.ts
  test/complex/oneOf.test.ts
  test/complex/pattern.test.ts
  test/complex/record.test.ts
  test/complex/tuple.test.ts
Due: Core, Complex

Fix test
  src/core/plugin.ts
  test/core/plugin.test.ts
Due: Core

Fix oneOf.enumValues assignment
  src/complex/oneOf.ts
Due: Complex

Expose options
  src/core/raw.ts
  src/core/reflection.ts
  src/core/types.ts
  src/primitive/never.ts
  test/core/reflection.test.ts
Due: Core, Primitive

Export validators ids. And improve docs
  docs/.vitepress/config.mts
  docs/reflection.md
  src/complex/index.ts
  src/core/index.ts
  src/datetime/index.ts
  src/index.ts
  src/primitive/index.ts
Due: Core, Primitive, Complex, Datetime

Improve docs
  docs/.vitepress/config.mts
  docs/modules/core/index.md
  docs/modules/core/reflection.md
Due: none

Fix typo
  test/core/reflection.test.ts
Due: none

Fix #17
  codecov.yml
  docs/.vitepress/config.mts
  docs/modules/index.md
  docs/modules/numeric/index.md
  docs/modules/numeric/int16.md
  docs/modules/numeric/int32.md
  docs/modules/numeric/int64.md
  docs/modules/numeric/int8.md
  docs/modules/numeric/numeric-namespace.md
  docs/modules/numeric/numeric.md
  docs/modules/numeric/uint16.md
  docs/modules/numeric/uint32.md
  docs/modules/numeric/uint64.md
  docs/modules/numeric/uint8.md
  src/core/reflection.ts
  src/index.ts
  src/numeric/index.ts
  src/numeric/int16.ts
  src/numeric/int32.ts
  src/numeric/int64.ts
  src/numeric/int8.ts
  src/numeric/numeric.ts
  src/numeric/uint16.ts
  src/numeric/uint32.ts
  src/numeric/uint64.ts
  src/numeric/uint8.ts
  test/cases.test.ts
  test/numeric/numeric.test.ts
Due: Core

Fix minor bugs
  docs/modules/index.md
  docs/modules/numeric/index.md
  docs/modules/numeric/numeric-namespace.md
Due: none

Unify docs
  README.md
  docs/modules/complex/index.md
  docs/modules/core/index.md
  docs/modules/primitive/index.md
Due: none

Update raw.md
  docs/modules/core/raw.md
Due: none

Remove docs deployment
  .github/workflows/cd.yml
Due: none
